*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  height: 50px;
  width: 100%;
  background-color: rgb(119, 156, 255);
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
}

main{
  padding: 50px;
}
p{
  margin: 20px;
}


.burger-btn{
  width: 30px;
  height: 30px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}
.burger-btn::before{
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  background-color: aliceblue;
  height: 3px;
  
}
.burger-btn span{
  position: absolute;
  top: 13px;
  width: 30px;
  background-color: rgb(19, 29, 37);
  height: 3px;
}
.burger-btn::after{
  content: "";
  position: absolute;
  bottom: 0;
  width: 30px;
  background-color: aliceblue;
  height: 3px;
  
}